@font-face {
    font-family: 'Montserrat-Alt';
    src: url(MontserratAlternates-Bold.otf);
}

/*  General Styles  */

.title > img {
    width: 70%;
    margin: 1%;
    display: inline-block;
}

h1 {
    font-family: Montserrat-Alt;
    color: #558b2f;
    font-size: 54px;
    margin-top: 3%;
    margin-bottom: 1%;
    text-shadow: 2px 1px 2px #888888;
}

h2 {
    font-family: Montserrat-Alt;
}

/* Main Content */

#location-input {
    margin-bottom: 1%;
}

#submit_button {
    background-color: #ff7342;
    margin-bottom: 1%;
    font-weight: bold;
    margin-right: 0.5%;
    box-shadow: 1px 1px 2px #666666;


}

#submit_button:hover {
    background-color: #dd651d;
}


.searchContainer {
    margin-top: 2%;
}

/* ****** START GOOGLE MAP ***** */

.map_div {
    height: 35vh;
    /*margin-bottom: 2vh;*/
    position: relative;
}

#map_display {
    margin: 0;
    height: 100%;
    border: 5px #558b2f ridge;
    box-shadow: 1px 1px 1px #888888;
}

.map_div {
    width: 99.7%;
    padding-left: 0;
    padding-right: 0;
}

.displayMapError {
    font-size: 3rem;
    color: white;
    background-color: #558b2f;
    /*text-align: center;*/
    vertical-align: middle;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

/* ****** END GOOGLE MAP ***** */

/* ****** START CAROUSEL AND NEWS CSS ***** */

.news-carousel {
    margin-left: 0;
    margin-right: 0;
}

.carouselContainer {
    height: 50vh;
    background-color: #558b2f;
    border-radius: 3px;
    color: #000;
    box-shadow: 2px 2px 3px #666666;
}

.news {
    height: 50vh;
    background-color: #558b2f;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #666666;
}

.news h1 {
    font-size: 3vmin;
    font-weight: 400;
    color: #fff;
    margin-left: 3%;
}

.newsTitle {
    margin: 0 auto;
}

.newsAuthor {
    color: #888888;
}

.newsLink {
    font-size: 1.35em;
    color: #9e9e9e;
    font-weight: 500;
}

.newsLink:hover,
.fullArticle a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #ff652f;
}

.newsModalImage {
    width: 100%;
    margin-bottom: 2%;
}

.newsSourceLink {
    color: #619830;
}

.newsListDisplay {
    font-size: 1.25em;
    background-color: #272727;
    color: #619830;
    width: 95%;
    height: 40vh;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    overflow-y: auto;
}

 
.modal-title,
.modal-body p,
.fullArticle {
    color: #272727;
}

.modal-title {
    font-family: Montserrat-Alt;
}

.fullArticle a {
    color: #9d9d9d;
}

.close:hover {
    color: #ff652f;
}

.news,
.carouselContainer {
    margin-bottom: 2vh;
}

.modal-content {
    top: 50vh;
    transform: translateY(-50%);
    border: 3px solid #7bc23d;
}

.carousel-control.left,
.carousel-control.right {
    background: none !important;
    filter: none !important;
    outline: 0;
}

.carousel-control {
    opacity: 0.1;
    width: 5%;
}

.carousel-control:hover {
    visibility: visible;
}

.air-pollution {
    margin: 17px;
}

/* ****** END CAROUSEL AND NEWS CSS ***** */

/* ****** START OF PIE CHART SLIDE ****** */

#piechart {
    padding-bottom: 3%;
}

/* ****** END OF PIE CHART SLIDE ****** */

/* ****** START OF WEATHER SLIDE ****** */

.displayTempError {
    font-size: 3rem;
    color: white;
    background-color: none;
    text-align: center;
    vertical-align: middle;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

#weatherDisplay {
    font-size: 3vmin;
    color: white;
    line-height: initial;
    text-align: left;
    margin-top: 15%;
}

#weatherList {
    list-style: none;
}

#weatherList li {
    line-height: 5vh;
}



/* ****** END OF WEATHER SLIDE ****** */

/* ****** START AIR QUALITY INDEX SLIDE ***** */

#aqi-table {
    margin: 0 auto;
    margin-top: 2%;
    font-size: 2vmin;
}

#info-icon {
    height: 22px;
    float: right;
    margin-right: 5px;
    padding: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    cursor: pointer;
}

#info-icon:hover {
    opacity: 1;
}

.popUp {
    display: none;
}

.popUpText {
    position: absolute;
    background-color: #efefef;
    padding: 5px;
    border-radius: 2px;
    border: 2px ridge #007305;
    transform: translateX(-50%);
    left: 50%;
    font-size: 2vmin;
    margin-top: 2%;
    animation: fadeIn 0.5s linear;
    width: 80%;
}


/* ****** END AIR QUALITY INDEX SLIDE ***** */

/* ******START OF CITY AIR POLLUTION SLIDE****** */

.good {
    background-color: #56b300;
}

.moderate {
    background-color: #ffde33;
}

.sensitive {
    background-color: #ff9933;
}

.unhealthy {
    background-color: #cc0033;
}

.very-unhealthy {
    background-color: #660099;
    color: white;
}

.hazard {
    background-color: #7e0023;
    color: white;
}

.airContainer {
    height: 50vmin;
    width: 80%;
    border: 2px solid black;
    padding: 2%;
}

#aqi-number-container {
    border: 2px solid black;
    border-radius: 3px;
    text-align: center;
    width: 45%;
    margin: 0px auto;
    margin-bottom: 2%;
    position: relative;
    font-size: 1.5vmin;
}

#aqiNum {
    font-size: 6vmin;
}

table,
td,
th {
    border: 1px solid black;
    padding: 6px;
    text-align: left;
}

th,
.neutral {
    background-color: #dfdfdf;
    text-align: center;
    font-size: 2vmin;
}


/* ******END OF CITY AIR POLLUTION SLIDE****** */

.landscapeCheck {
    visibility: hidden;
}

@media (max-width: 991px){
    .title > img {
        width: 150%;
    }
    h1{
        font-size: 32px;
    }
}

@media (min-width: 992px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 1180px) {
    #weatherIcon {
        height: 20%;
        width: 15%;
        float: right;
        margin-right: 10%;
    }

    #weatherList {
        display: inline-block;
        padding-left: 12%;
        text-align: left;
    }
}


@media (min-width: 1180px) {
    .carouselContainer {
        width: 57%;
        position: relative;
        left: 1%;
    }
}

@media (max-width: 767px) {
    .aqi-container > img {
        margin-top: 20%;
    }
    #weatherDisplay {
        margin-top: 10%;
    }
    
    .newsLink{
        font-size: 1em;
    }
    
    .newsListDisplay{
        font-size: .8em;
    }
    .title > img {
        width: 50%;
    }
    h1{
        margin-top: 5%;
        font-size: 24px;
    }
    #weatherDisplay {
        font-size: 5vmin;
    }

    #weatherIcon {
        width: 15%;
        height: 20%;
        margin-right: 5%;
        text-align: center;
        float: right;
    }

    #weatherList {
        display: block;
        padding-left: 0;
    }
}

@media (max-width: 375px) {
    #aqi-table,
    .neutral {
        font-size: 3.5vmin;
    }
    #aqi-number-container {
        width: 65%;
    }
    #aqiNum {
        font-size: 8vmin;
    }
    #weatherDisplay {
        margin-top: 25%;
    }
    .air-pollution {
        margin: 10px;
    }
    th,
    .neutral {
        font-size: 3vmin;
    }
    .popUpText {
        font-size: 3vmin;
    }
}

@media (min-width: 767px) and (max-width: 1179px) {
    #weatherDisplay {
        font-size: 3vmin;
    }

    #weatherIcon {
        width: 15%;
        height: 20%;
        text-align: center;
        float: right;
        padding-right: 5%;
    }

    #weatherList {
        display: inline-block;
    }
}


@media (min-width: 1180px) {
    .carouselContainer {
        width: 57%;
        position: relative;
        left: 1%;
    }
}


@media screen and (max-width: 991px) and (orientation:landscape) {
    body > .container-fluid {
        visibility: hidden;
    }

    .landscapeCheck {
        visibility: visible;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 25%;
        left: 25%;
    }

    .landscapeCheck > h2 {
        color: red;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}